@charset "UTF-8";

/* Estilos Globais */
body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

/* Cabeçalho e Navegação (index.html) */
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid blue;
}
.center {
    text-align: center;
}

/* Conteúdo Principal (index.html) */
main h3 {
    text-align: left;
    text-decoration: underline;
}

main section ul {
    list-style-type: none;
    padding-left: 0;
}

/* Seções de Conteúdo (projetos.html, contatos.html) */
.content-box {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 50px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

.content-box ul {
    list-style: none;
    padding: 0;
}

.content-box li {
    font-size: 20px;
    margin-bottom: 15px;
}

/* Estilos específicos para contatos.html */
#contatos-list li {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
#contatos-list a {
    color: black;
}

/* Cor específica para o link de e-mail */
#contatos-list a.email-link {
    color: red;
}

/* Cor específica para o texto do WhatsApp */
.whatsapp-text {
    color: #25D366;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 40px;
}

footer.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer.social-links img {
    width:  45px;
    height: 45px;
    border-radius: 50%;
    border: 5px solid red;
}

.btn-voltar {
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}